header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  padding-top: 0px;
}

header .navbar.sticky {
  top: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  z-index: 10000;
}

header .navbar.sticky .logo img {
  width: 110px !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 0px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  background: var(--header-bg);
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.bar {
  display: block;
  width: 2.8rem;
  height: 0.125rem;
  margin: 0.513rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
}

.nav-logo {
  width: 10rem;
}

/* The Menu Modal (background) */
.menu-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.menu-modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 0.2rem solid var(--primary);
  width: 30%; /* Could be more or less, depending on screen size */
  height: 70%;
  text-align: center;
}
.menu-modal-content li {
  padding: 0.3rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.menu-modal-content li a {
  color: var(--white);
}
.menu-modal-content li a.active {
  color: var(--primary);
  cursor: pointer;
}
.menu-modal-content li a:hover {
  color: var(--primary);
  cursor: pointer;
}

@media only screen and (max-width: 899px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .menu-modal-content {
    margin: 7% auto;
    padding: 20px;
    width: 70%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
}
